<div class="center jumbotron">
  <h1>Welcome to the Errand Folks App</h1>

  <h2>
    This is the home page for the the Errand Folks App.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<div class="bigHeader">
  <!-- <nav class="navigation-bar">
    <a href="./index.html" class="bloblogo"><img class="logo" src="./images/blobicorn.png" alt="blob"></a>
    <a href="#" class="navig">Offer a Service</a>
    <a href="#" class="navig">Categories</a>
    <a href="#" class="navig">Contact Us</a>
    <a href="./signup.html" class="navig">Sign Up</a>
    <a href="#">Log In</a>
  </nav> -->

  <div>
    <h1 class="main-motto">Let's Act As A Society</h1>
  </div>

  <div class="searchArea">

    <!-- <select class="categories">
      <option value="all">All</option>
      <option value="">Music</option>
      <option value="">Food</option>
      <option value="">Carpool</option>
    </select> -->

    <input class="searchBox" type="search" name="" placeholder=" Search For a Service">

    <div class="searchButton-center">
      <button id="search" class="homePSearch" type="search" name="searchB">Search</button>
    </div>
  </div>

</div>


<div class="Vision">
  <div class="V-center">
    <h2 class="vision-title h2"> Our Vision </h2>

    <p class="vis-p">
      This passage needs to be replaced with meaningful stuff.
      This passage needs to be replaced with meaningful stuff.<br>
      This passage needs to be replaced with meaningful stuff.
      This passage needs to be replaced with meaningful stuff.<br>
      This passage needs to be replaced with meaningful stuff.
      This passage needs to be replaced with meaningful stuff.<br>
      This passage needs to be replaced with meaningful stuff.
      This passage needs to be replaced with meaningful stuff.<br>
    </p>

  </div>
</div>
