<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./styleMainTheme.css">
    <title>Errand Folks</title>
  </head>

  <body>

    <div class="center jumbotron">
      <h1>Welcome to the Errand Folks App</h1>

      <h2>
        This is the home page for the the Errand Folks App.
      </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>

    <div class="bigHeader">
      <!-- <nav class="navigation-bar">
        <a href="./index.html" class="bloblogo"><img class="logo" src="./images/blobicorn.png" alt="blob"></a>
        <a href="#" class="navig">Offer a Service</a>
        <a href="#" class="navig">Categories</a>
        <a href="#" class="navig">Contact Us</a>
        <a href="./signup.html" class="navig">Sign Up</a>
        <a href="#">Log In</a>
      </nav> -->

      <div>
        <h1 class="main-motto">Let's Act As A Society</h1>
      </div>

      <div class="searchArea">

        <!-- <select class="categories">
          <option value="all">All</option>
          <option value="">Music</option>
          <option value="">Food</option>
          <option value="">Carpool</option>
        </select> -->

        <input class="searchBox" type="search" name="" placeholder=" Search For a Service">

        <div class="searchButton-center">
          <button id="search" class="homePSearch" type="search" name="searchB">Search</button>
        </div>
      </div>

    </div>


    <div class="Vision">
      <div class="V-center">
        <h2 class="vision-title h2"> Our Vision </h2>

        <p class="vis-p">
          This passage needs to be replaced with meaningful stuff.
          This passage needs to be replaced with meaningful stuff.<br>
          This passage needs to be replaced with meaningful stuff.
          This passage needs to be replaced with meaningful stuff.<br>
          This passage needs to be replaced with meaningful stuff.
          This passage needs to be replaced with meaningful stuff.<br>
          This passage needs to be replaced with meaningful stuff.
          This passage needs to be replaced with meaningful stuff.<br>
        </p>

      </div>
    </div>

    <!-- <div class="posting">
      <h2 class="posts-title"> Postings </h2>

      <div class="posts">
        <ul>
          <li>
            <a href="#">
              <h2>Title #1</h2>
              <p>Text Content #1</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h2>Title #2</h2>
              <p>Text Content #2</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h2>Title #1</h2>
              <p>Text Content #1</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h2>Title #2</h2>
              <p>Text Content #2</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h2>Title #1</h2>
              <p>Text Content #1</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h2>Title #2</h2>
              <p>Text Content #2</p>
            </a>
          </li>
        </ul>
      </div>
    </div> -->


    <!-- <footer class="footerContext">

      <p class="footer-comp-motto">Let's Act As a Society.</p>

      <p class="footer-links">
        <a href="./index.html">Home</a>
        ·
        <a href="./contactUs.html">Help</a>
        ·
        <a href="#">Career</a>
        ·
        <a href="./aboutUs.html">About</a>
        ·
        <a href="#">FAQ</a>
        ·
        <a href="./contactUs.html">Contact</a>
      </p>

      <p class="footer-comp-name">Blobicorn &copy; 2019</p>

    </footer> -->



  </body>
</html>
