<footer class="footerContext">
  <p class="footer-comp-motto">Let's Act As a Society.</p>

  <p class="footer-links">
    <a href="#">Home</a>
    ·
    <a href="./contactUs.html">Help</a>
    ·
    <a href="#">Career</a>
    ·
    <a href="./aboutUs.html">About</a>
    ·
    <a href="#">FAQ</a>
    ·
    <a href="./contactUs.html">Contact</a>
  </p>

  <p class="footer-comp-name">Blobicorn &copy; 2019</p>
</footer>
